
# crawler/.idea/*
# crawler/__pycache__/*
# crawler/database-properties.json
.DS_Store

/back/lib/*.jar
back/src/main/resources/application.properties

*.pyc
spider/log/*.tx
spider/.idea/*
spider/experiment/*
spider/properties/database.json
spider/debug.log
