
crawler/.idea/*
crawler/__pycache__/*
crawler/database-properties.json
*/.DS_Store
.DS_Store

/back/lib/*.jar
back/src/main/resources/application.properties

*.pyc
spider/*/__init__.py
spider/log/*.txt
spider/.idea/*
spider/experiment/*
spider/properties/database.json
