body {
    margin: 0 auto;
}

header {
    height: 60px;
    /* width: inherit; */
    margin-bottom: 10px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.12);

    width: 1000000px;
    overflow: hidden;
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 10;
}

main {
    margin: 0 auto;
    width: 1180px;
    margin-bottom: 10px;
    margin-top: 70px;
    position: relative;
    z-index: 1;
}

section {
    margin: 0 auto;
    width: 1180px;
    height: 300px;
    margin-bottom: 10px;
}

nav {
    width: 130px;
    position: fixed;
}

.article-a {
    width: 710px;
    margin-left:160px;
}

.article-b {
    width: 860px;
}

aside {
    width: 280px;
    position: fixed;
    top: 70px;
    margin-left: 900px;
}

.top-bar {
    width: 1180px; 
    height: 40px;
    padding: 10px 0px 10px 0px;
    
    position: fixed;
    left: -590px;
    margin-left: 50%;
}

.clear-float:after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clear-float {
    zoom: 1;
}
