<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smacul.demo.dao.CustomersDao">

<!--    <update id="updateCusInfo">-->
<!--        update Customers set cus_-->
<!--    </update>-->

    <update id="updateCusPass">
        update Customers set cus_pass=#{cussPass} where cusId=#{cusId}
    </update>



    <select id="searchCusByName" resultType="com.smacul.demo.bean.Customer">
        select * from Customers where cus_name=#{cusName};
    </select>

    <select id="countCusByName" resultType="java.lang.Integer">
        select count(*) from Customers where cus_name=#{cusName};
    </select>

    <insert id="insertCus">
        insert into Customers(cus_name, cus_pass) values(#{cusName}, #{cusPass});
    </insert>

    <select id="searchCustomerByCusId" resultType="com.smacul.demo.bean.Customer">
        select cus_avatar_url, cus_id, cus_name, cus_type
        from Customers
        where cus_id = #{cusId}
    </select>

    <select id="searchCusFullByCusId" resultType="com.smacul.demo.bean.Customer">
        select cus_avatar_url, cus_id, cus_name, cus_type, cus_article_num, cus_fan_num, cus_follow_num,
                cus_gender, cus_style, cus_time
        from Customers
        where cus_id = #{cusId}
    </select>

</mapper>