<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smacul.demo.dao.CustomersDao">
    <select id="searchCusByName" resultType="com.smacul.demo.bean.Customer">
        select * from Customers where cus_name=#{cusName};
    </select>

    <select id="countCusByName" resultType="java.lang.Integer">
        select count(*) from Customers where cus_name=#{cusName};
    </select>

    <insert id="insertCus">
        insert into Customers(cus_name, cus_pass) values(#{cusName}, #{cusPass});
    </insert>

    <select id="searchCustomerByCusId" resultType="com.smacul.demo.bean.Customer">
        select cus_avatar_url, cus_id, cus_name, cus_type
        from Customers
        where cus_id = #{cusId}
    </select>
</mapper>